<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0" role="main">
            <div class="container mt-5">
                <h1 style="text-align: center;">Bibliothèque</h1>
                <div class="col-12 mt-5">
                    {% for album in bibliotheque %}
                        {% if (loop.index - 1) % 4 == 0%}
                            <div class="row card-group">
                        {% endif %}
                                <div class="card">
                                    <img src="{{ album.albums.alb_img }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title" style="text-align: center;">{{ album.artistes.art_nom }} - {{album.albums.alb_nom}}</h5>
                                        <p class="card-text" style="text-align: center;">Prix : {{ album.albums.alb_prix }} euros</p>
                                    </div>
                                </div>
                        {% if (loop.index - 1) % 4 == 3%}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>